@import url('https://fonts.googleapis.com/css2?family=Gugi&family=Noto+Sans+KR:wght@400;700&family=Sunflower:wght@500;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

h1, h2, h3, h4, .logo-font {
    font-family: 'Sunflower', sans-serif;
}

/* 네비게이션 영역 */
.nav-link.active,
.nav-link:hover {
    color: darkblue !important;
    font-weight: bold;
}



.banner {
    background-image: url(../image/card-banner.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.contact-bg{
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.2)), url(../image/contact-bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}